<div class="flex-wrap">
  <span class="badge bg-pill bg-dark" style="width: 180px"
    >Favorite Products</span
  >
</div>

<div
  class="row row-cols-1 row-cols-md-1 g-2 g-lg-5 py-3 justify-content-md-start"
>
  <% if (typeof user.favorites !== 'undefined' && user.favorites.length > 0) {
  %> <% user.favorites.forEach(product => { %>
  <div class="d-flex mb-2 align-items-center">
    <a href="/product/<%= product.id %>" class="col text-center category__link">
      <div class="category__img shadow">
        <img
          src="/images/productImages/<%= product.name %>.jpg"
          alt="<%= product.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= product.name %></div>
    </a>
    <input hidden value="<%= product.id %>" />
    <span
      id="removeBtn"
      style="margin-left: 15px"
      class="badge bg-pill bg-danger"
      >-</span>
  </div>
  <% }) %> <% } else { %>
  <p>No Favorite products</p>
  <% } %>
</div>

<script src="/scripts/userSidebar.js"></script>
